<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="svc" address="http://404.open.source.is.good.github.com" binding="basicHttpBinding" contract="Archient.Services.Clients.ITestService" />
    </client>
  </system.serviceModel>
</configuration>