<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Services.Clients.WCF.Examples.CSharp.TestService">
        <endpoint address="http://localhost:8181/TestService" binding="basicHttpBinding" contract="Services.Clients.WCF.Examples.CSharp.ITestService" />
      </service>
    </services>
    <client>
      <endpoint name="TestService" address="http://localhost:8181/TestService" binding="basicHttpBinding" contract="Services.Clients.WCF.Examples.CSharp.ITestService" />
    </client>
  </system.serviceModel>
</configuration>