<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="TestService" 
                address="http://localhost:8088/archient-test" 
                binding="basicHttpBinding" 
                contract="Archient.Services.Contracts.IPingService" />
    </client>
  </system.serviceModel>
</configuration>