@model Archient.Web.PageViewModel<PageHeaderViewModel,dynamic>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Html.DisplayFor(vm => vm.Head)
</head>
<body>
    @Html.DisplayFor(vm => vm.Body)
</body>
</html>